
@model Tienda.Controllers.Productos.CreateCompra

@{
    ViewData["Title"] = "Compras";
}

<h2>Compras</h2>

<div>
    <h4>CreateCompra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo de Compra
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Precio de Venta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio_Venta)
        </dd>
        <dt>
            Total com Impuesto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total_con_Impuesto)
        </dd>
        <dt>
    Usuario
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Carrito">Volver al Carrito</a>
    @Html.ActionLink("Ir a Productos de Marvel ", "Create_Marvel_Products")
    @Html.ActionLink("Ir a Productos de DC", "Create_DC_Products")
</div>
